{% extends 'base.html.twig' %}

{% block title %} homepage {% endblock %}

{% block container %}

    <div class="blockHead">

        <div class="row title">
            <h1 class="col-sm-12 title" > Blue Spoon </h1>
            <h2 class="col-sm-12" > Simulation de performances pour restaurateurs </h2>
        </div>

        <div class="row d-flex justify-content-center homepageButton">
                <a class="col-xs-2 center" href="{{ path('app_register') }}"> S'enregistrer </a>
                <a class="col-xs-2 center" href="{{ path('app_login') }}"> Se connecter </a>
                <a class="col-xs-2 center" href="{{ path('app_new_simulation_bis') }}"> test simulation </a>

            {#<a class="col-lg-2" href="{{ path('app_test') }}"> Page Test </a>#}
        </div>

    </div>


    <div class="row  d-flex justify-content-center bluespoon">
        <img class="col-sm-10" src="{{ asset('build/images/bluespoon.png') }}">
    </div>

    <div class="row blockContainer d-flex justify-content-center">
        <div class="choiceBlock blockStyle1 d-flex align-items-center justify-content-center col-xs-6"><a href="{{ path('app_login') }}">Commencer</a></div>
        <div class="choiceBlock blockStyle2 d-flex align-items-center justify-content-center col-xs-6"><a href="{{ path('app_concept') }}">L'application</a></div>
    </div>

    <div class="row d-flex justify-content-center testbottom">
        <div class="choiceBlock blockStyle2 d-flex align-items-center justify-content-center col-xs-6"><a href="{{ path('app_contact') }}">Nous contacter</a></div>
        <div class="choiceBlock blockStyle2 d-flex align-items-center justify-content-center col-xs-6"><a href="{{ path('app_test') }}">En savoir plus</a></div>
    </div>



{% endblock %}