{% extends 'base.html.twig' %}

{% block title %} homepage {% endblock %}

{% block container %}

    <div class="row">
        {#<img class="offset-lg-1 col-lg-2" src="{{ asset('build/images/bleu_orange.jpg') }}" width="300">
        <img class="offset-lg-1 col-lg-2" src="{{ asset('build/images/orange.jpg') }}" width="300">#}
    </div>


    <div class="row title">
        <h1 class="col-sm-12" > TITRE </h1>
    </div>

    <div class="row d-flex justify-content-center homepageButton">
            <a class="col-xs-2 center" href="{{ path('app_register') }}"> S'enregistrer </a>
            <a class="col-xs-2 center" href="{{ path('app_login') }}"> Se connecter </a>

        {#<a class="col-lg-2" href="{{ path('app_test') }}"> Page Test </a>#}
    </div>

    <div class="row d-flex justify-content-center">
        <p class="col-sm-8 homepageText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec justo augue. Duis laoreet felis ac magna posuere, eu aliquam augue volutpat. Donec id enim metus. Morbi placerat sapien sem, ut semper arcu lobortis ut.
        </p>
    </div>

    <div class="row  d-flex justify-content-center flower">
        <img class="col-sm-8" src="{{ asset('build/images/flower.jpg') }}">
    </div>

    <div class="row d-flex justify-content-center">
        <h2 class="homepageBlock d-flex align-items-center justify-content-center col-sm-3"><a href="{{ path('app_concept') }}">En savoir plus</a></h2>
        <div class="homepageBlock blockStyle1 d-flex align-items-center justify-content-center col-sm-3"></div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="blockStyle2 d-flex align-items-center justify-content-center col-sm-3"></div>
        <h2 class="homepageBlock homepageBlock d-flex align-items-center justify-content-center col-sm-3"><a href="{{ path('app_login') }}">Commencer</a></h2>
    </div>

    <div class="row d-flex justify-content-center">
        <h2 class="homepageBlock d-flex align-items-center justify-content-center col-sm-3"><a href="{{ path('app_contact') }}">Nous contacter</a></h2>
        <div class="homepageBlock blockStyle3 d-flex align-items-center justify-content-center col-sm-3"></div>
    </div>


{% endblock %}