{% extends 'base.html.twig' %}
{% form_theme simulationForm _self %}

{% block title %} nouvelle simulation {% endblock %}

{% block form_row %}

    {%- set widget_attr = {} -%}
    {%- if help is not empty -%}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
    {%- endif -%}
    {{- form_label(form) -}}
    {{- form_errors(form) -}}
    {{- form_widget(form, widget_attr) -}}
    {{- form_help(form) -}}

{% endblock %}


{% block container %}


    <div class="row title">
        <h1 class="col-lg-12"> Nouvelle simulation </h1>
    </div>

    <div class="row d-flex justify-content-center board">
        <p class="col-sm-1 d-flex align-items-center justify-content-center simulationLineGreen"> 1 </p>
        <p class="col-sm-1 d-flex align-items-center justify-content-center simulationLineGreen"> 2 </p>
        <p class="col-sm-1 d-flex align-items-center justify-content-center simulationLineGreen"> 3 </p>
        <p class="col-sm-1 d-flex align-items-center justify-content-center simulationLineOrange"> 4 </p>
        <p class="col-sm-1 d-flex align-items-center justify-content-center simulationLineOrange"> 5 </p>
        <p class="col-sm-1 d-flex align-items-center justify-content-center simulationLineOrange"> 6 </p>
    </div>

    <div class="row newsimulationButton">
        <a class="col-sm-3" href="{{ path('app_dashboard') }}">Retour au tableau de bord</a>
    </div>

    {{ form_start(simulationForm, {
        attr: {class: 'form-signin'}
    }) }}
        <p>test avec zone de text dans le formulaire</p>

    {#{{ form_widget(simulationForm) }} a utiliser pour plus de rapidité mais moins de control#}
        {{ form_row(simulationForm.income, {
            label: 'test pour changer le label'
        }) }}
        {{ form_row(simulationForm.first_need, {
            attr: {placeholder: 'test placeholder'}
        }) }}
        <button type="submit" class="btn btn-primary">Create!</button>
    {{ form_end(simulationForm) }}

    {#<div class="row board">
        <div class="col-sm-12 d-flex align-items-center justify-content-center formContainer">
            <form method="post" action="{{ path('app_dashboard', {route: 'new_simulation'}) }}">
                <label for="first_need">Frais de démarrage :</label></br>
                <input type="text" id="first_need" name="first_need"></br>

                <label for="first_income">Financement de démarrage :</label></br>
                <input type="text" id="first_income" name="first_income"></br>

                <label for="fixed_charges">Charges fixes :</label></br>
                <input type="text" id="fixed_charges" name="fixed_charges"></br>

                <label for="variable_expenses">Charges variables :</label></br>
                <input type="text" id="variable_expenses" name="variable_expenses"></br>

                <label for="income">Chiffre d'affaire (12 mois) :</label></br>
                <input type="text" id="income" name="income"></br>

                <input type="submit" value="Valider" id="submit" name="submit">
            </form>
        </div>
    </div>#}

    <div class="row d-flex justify-content-center newsimulationButton">
        <a class="col-sm-2 center" href="{{ path('app_dashboard', {route: 'dashboard'}) }}"> Retour </a>
        <a class="col-sm-2 center" href="{{ path('app_dashboard', {route: 'dashboard'}) }}"> Suivant </a>
    </div>
{% endblock %}